/* main style */
:root {
  --test: 1px solid red;

  --main-bg: #e4eaee;
  --main-txt-clr: #111;
  
  --shadow-light: 4px 4px 12px 2px lightgray;
  --shadow-med: 4px 4px 12px 2px darkgray;
  --shadow-high: 4px 4px 12px 2px gray;
  
  --btn-cold: #0000802c;
  --btn-success: #27a727;
}

* {
  box-sizing: border-box;
  font-family: "Vazir";
}

body {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--main-bg);
  color: var(--main-txt-clr);
}

/* other styles */

/* topnav */
nav {
  width: 90%;
  height: 180px;
  margin: 12px auto;
  border-radius: 6px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: var(--shadow-light);
}

/* navbar */
nav a {
  text-decoration: none;
  font-size: 18px;
  color: var(--main-txt-clr);
  display: block;
}

nav .navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav .navbar > li > a {
  font-size: 24px;
  padding: 12px 25px;
  margin: 2px;
  border-radius: 6px;
}

nav .navbar > li > a:hover {
  transition: 0.16s;
  background-color: var(--btn-cold);
}

nav .navbar > li:first-child a {
  background-color: var(--btn-cold);
}

/* logo */
nav .logo img {
  width: 80px;
  height: 80px;
}